<table  border="1" cellpadding="8" cellspacing="0" style="width:100%; border-collapse:collapse;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Sell price</th>
            <th>Category</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="productTable">
        @for (item of products; track $index){
        <tr>
            <td>{{item.name }}</td>
            <td>{{item.description }}</td>
            <td>{{item.sellPrice}}</td>
            <td>{{item.category.name}}</td>
            <td>{{item.stockLimit}}</td>
            <td><button (click)="addProductToChart(item)">Ajouter au panier</button></td>
        </tr>
        }  @empty {
        There are no items.
        }
    </tbody>
</table>