  :host {
    .container {
      display: flex;
      flex-direction: row;
      margin: 100px 10% 50px 10%;
    }

    .left-side {
      width: 100%;
    }

    .right-side {
      width: 100%;
    }

    .containerForm {
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    #productForm {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    font-family: arial,
    sans-serif;

    box-sizing: border-box;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }