<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Identifier</th>
            <th>Customer</th>
            <th>Date commande</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (item of orders; track $index) {
        <tr>
            <td>{{$index + 1 }}</td>
            <td>{{item.orderId }}</td>
            <td>{{item.customer}}</td>
            <td>{{item.orderDate }}</td>
            <td>{{item.total }}</td>
            <td><button class="btn btn-primary btn-sm" (click)="showOrderDetails(item.orderId!)">Détails</button></td>
        </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>