:host {
    .containerForm {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    #productForm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .FormButtons {
        margin: 10px;
    }

    button {
        margin: 5px;
    }

    label {
        margin-top: 3px;
    }

    .ng-valid[required],
    .ng-valid.required {
        border-left: 5px solid #42A948;
    }

    .ng-invalid:not(form) {
        border-left: 5px solid #a94442;
    }

    .alert div {
        background-color: #fed3d3;
        color: #820000;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    input,
    select,
    textarea,button {
        border: 1px solid #ccc;
        padding: 7px 8px;
        border-radius: 1px;
        outline: none;
    }
}