<form [formGroup]="productForm" (ngSubmit)="onSubmit()" id="productForm">
    <div class=containerForm>
        <input type="hidden" id="productId">

        <label>Name</label>
        <input type="text" id="name" formControlName="name" required>
                @if (name?.invalid && (name?.dirty || name?.touched)){
                <div class="alert alert-danger">
                    @if (name?.hasError('required')) {
                    <div>Nom est obligatoire.</div>
                    }
                    @if(name?.hasError('minlength')){
                     <div>Minimum longeur est 3 caractéres.</div>
                    }
                </div>
                }

        <label>Purchase Price</label>
        <input type="number" step="1" formControlName="purchasePrice" id="purchasePrice" required>
          @if (purchasePrice?.invalid && (purchasePrice?.dirty || purchasePrice?.touched)){
                <div class="alert alert-danger">
                    @if (purchasePrice?.hasError('required')) {
                    <div>Prix d'achat est obligatoire</div>
                    }
                    @if(purchasePrice?.hasError('min')){
                     <div>Prix d'achat doit etre positive</div>
                    }
                </div>
                }       
        <label>Sell Price</label>
        <input type="number" step="1" formControlName="sellPrice" id="sellPrice" required>

        <label>Category</label>
        <select id="categoryId" formControlName="categoryId" required>
            <option value="" disabled selected>Choisir une catégorie</option>
            <option *ngFor="let c of categories" [value]="c.categoryId">
            {{ c.name }}
            </option>
        </select>

        <label>Description</label>
        <textarea id="description" formControlName="description"></textarea>
        
        <label>Units In Stock</label>
        <input type="number" formControlName="unitsInStock" id="unitsInStock">

        <label>Stock Limit</label>
        <input type="number" id="stockLimit">
    </div>
    <div class="FormButtons">

        <button type="submit" >Save</button>
        <button type="reset">Clear</button>
    </div>
</form>